.modal-dialog {
  max-width: 80%;
}

.form-group {
  width: 50%;
  float: left;
  padding: 10px;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    float: left;
}

.modal-body {
    overflow: auto;
    max-height: 520px;
}

.card {
    width: 100%;
    margin: 20px 0;
    display: inline-block;
}
